<div class="row">

  <div class="container-fluid">
    <h1>Student Registration</h1>
    <hr>
    <div class="col-md-12">

      <form  style="background-color: blueviolet;"  #students="ngForm" (ngSubmit)="onSubmit()" novalidate>
        {{students.form.valid}}
        <div class="col-md-3">
          <div class="form-group">
            <label><b>First Name</b></label>
            <input type="text" class="form-control" #firstname="ngModel" placeholder="First Name"  name="firstname" [(ngModel)]="studentforms.firstname"
            required [class.is-invalid]="firstname.invalid && firstname.touched">
            <small class="text-danger" [class.d-none]="firstname.valid || firstname.untouched">First Name is required or invalid</small>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label><b>Last Name</b></label>
            <input type="text" class="form-control" placeholder="Last Name" name="lastname" 
            [(ngModel)]="studentforms.lastname"  required [class.is-invalid]="lastname.invalid && lastname.touched">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label><b>Email ID</b></label>
            <input type="text" class="form-control" placeholder="Email ID" name="emailid" [(ngModel)]="studentforms.emailid"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" #emailid="ngModel" required [class.is-invalid]="emailid.invalid && emailid.touched">
            <small class="text-danger" [class.d-none]="emailid.valid || emailid.untouched">Invalid EmailID</small> 
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label><b>Phone Number</b></label>
            <input type="text" class="form-control"   placeholder="Phone Number" 
            name="phonenumber" [(ngModel)]="studentforms.phonenumber" pattern="^\d{10}$"
            required [class.is-invalid]="phonenumber.invalid && phonenumber.touched">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label><b>Address</b></label>
            <input type="text" class="form-control"   placeholder="Address" name="address" [(ngModel)]="studentforms.address">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label><b>Subjects</b></label>
            <select required #subj= "ngModel" [class.is-invalid]="subj.invalid && subj.touched" class="custom-select" name="subj" [(ngModel)]="studentforms.subj" placeholder="Select a Subject">
              <option value="">Select a Subject</option>
              <option *ngFor="let sub of Subjects">{{sub}}</option>
            </select>
            <small class="text-danger" [class.d-none]="subj.valid || subj.untouched">Please select a Subject</small>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-check">
            <input class="form-check-input" name="subsription" [(ngModel)]="studentforms.subsription" type="checkbox">
            <label class="form-check-label">SMS Notification</label>
          </div>
        </div>
<br/>
        <div class="col-md-3">
          <button class="btn btn-success mr-1" [disabled]="students.form.invalid" type="submit">Submit</button>
          <button class="btn btn-danger">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>